@charset "utf-8";

body {
    background-color: #7c7eaf;

    /* padding-left: 100px;
    padding-top: 40px; */
}

.time {
    display: flex;
}

.time > * {
    margin: 5px;
}

.stopTime {
    background-color: black;
    color: silver;
    border-radius: 5px;

    outline: none;
    border: none;

    padding: 5px;

    transition: transform .4s ease;
}

.stopTime:active {
    transform: scale(1.2);
}

/* 
**************
     Object.html
**************
*/

.container {
    display: flex;
}

#firstOutput, .posts {
    min-height: 300px;
    flex: 1;

    border: 10px double black;
    padding: 20px;
}

.updateCity {
    width: 150px;
    height: 16px;
}

.updateCity:focus {
    width: 200px;
    height: 20px;
    border: none;
    outline: none;

    transition: all .4s;
}

.changeText {
    color: darkgray;
    font-weight: lighter;
    text-shadow: 2px 2px 2px lightgray;
    font-size: 18px;
    letter-spacing: 2.5px;
}



.todo {
	list-style: none;
	padding: 0;
	width: 30%;
}

.todo li {
	font-size: 20px;
	height: 25px;
	background-color: #247294;
	text-align: center;
	border-bottom: 1px #1e6381 solid;
}

li.todo-hover {
	background-color: #1e6381;
	color: #fff;
}

li.todo-complete {
	text-decoration: line-through;
	background-color: #24942a;
}


/* 
***********************
    Utility Classes
***********************
*/

.addFlex {
    display: flex;
    flex-flow: row wrap;
}