html {
    height: 100%;
}

body {
    background: #FDC830;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 10px;
    
    font-family: 'Montserrat', sans-serif;
}

section#wrapper {
    border: 1px solid #0c530c;
    width: 80%;
    min-height: 575px;
    margin: auto;
}
header {
    display: flex;
    justify-content: center; /* main axis */
    align-items: center; /* cross axis */
    
    width: ;
    height: 90px;
    border: 1px solid white;
}

header h1 {
    color: red;
    font-size: 35px;
    background: linear-gradient(to left, #333333, #dd1818); 
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin: 0px auto 0px auto;   
    font-family: 'Montserrat', sans-serif;
}

nav {
    border: 1px solid white;
}

nav ul#mainNavigation {
    display: flex;
    justify-content: space-around;
    
    list-style: none;
    padding: 5px;
    margin: 10px;
    
}

ul#mainNavigation a {
    text-decoration: none;
    background: linear-gradient(to left, #333333, #dd1818); 
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 17px;
    
}

ul#mainNavigation a:hover {
    font-weight: bold;
    cursor: pointer;
}