html {
    min-height: 100%;
}

body {
    background-color: #4E0403;
}

body header, main, nav, footer, aside {
    background-color: 
}

#search input {
    border-radius: 10px;
    background-color: #bab2b2;
}

#post ul {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    list-style: none;
    
}

#post ul li a {
    text-decoration: none;
    color: black;
    
}

#post ul li a:hover {
    font-weight: bold;
    cursor: pointer;
}

#find ul {
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

#find ul li a{
    text-decoration: none;
    color: black;
}