@charset 'utf-8';

* {
    margin: 0px;
    padding: 0px;
}

body {
    
}

.grid-container {
    display: grid;
    
}

header {
    
}

.menu-links {
    
}

main {
    
}

.blogg1 {
    
}

.blogg2 {
    
}

.blogg3 {
    
}

aside {
    
}

.newsletter {
    
}

.feature {
    
}

.credibility {
    
}

.smal-grid-container {
    
}

.promo {
    
}

.list-of-sevice {
    
}

.social-media {
    
}

footer {
    
}