@charset 'utf-8';

html {
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
     background-color: #FFFFFF;
     overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

/* F2F2F2 */

::-webkit-scrollbar-track {
    background: #3B4651;
    border: 1px solid #3B4651;
    
}

::-webkit-scrollbar-thumb {
    /* width: 10px; */
    background: #F2F2F2;
}
  

header {
    height: 120px;
    display: flex;

    /* background-color: #D7E3E8; */
}

.logo {
    /* margin-top: 40px; */
    margin-left: 110px;
    flex: .5;
}

nav {
    display: flex;
    flex: 5;
    align-items: center;

    /* background-color: pink; */
}

.subPages {
    flex: 2;
    display: flex;
    justify-content: space-around;
    margin-left: 90px;
    margin-right: 170px;

    /* background-color: plum; */
}

.extra {
    flex: 1.5;
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-left: 60px;
    margin-right: 50px;

    /* background-color: salmon; */
}

.subPages a , .extra a {
    text-decoration: none;
    color: #707070;
}

.premium p{
    color: #007AF3;
    border: 1.5px solid #007AF3;
    border-radius: 20px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.hero {
    height: 550px;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
}

.left {
    flex: 2;
    /* margin-left: 300px;
    margin-right: 180px; */
}

.easySimple {
    color: #8B8B8B;
    margin-left: 300px;
}

.statement {
    margin-left: 300px;
    margin-right: 160px;
    letter-spacing: 2px;
}

.mind {
    margin-left: 300px;
}

.dot {
    color: #007AF3;
    margin-left: 1px;
}

.links {
    display: flex;
    margin-left: 300px;
}

.smalLeft {
    font-size: 13px;
    font-weight: 700;

    border: 2px solid #007AF3;
    border-radius: 20px;
    background-color: #007af3;
    color: white;

    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;

    margin-top: 10px;
    margin-right: 25px;
}

.smalLeft a{
    text-decoration: none;
    color: white;
}

.smalRight {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    align-items: center;
}

.smalRight img {
    width: 25px;
    margin-right: 10px;
}

.smalRight a{
    color: #8B8B8B;
    text-decoration: none;

    font-size: 15px;
}

.right {
    flex: 1.5;
}

.right img {
    height: 400px;
}

/* ------ */

.main {
    height: 570px;
    background-color: #3B4651;
    display: flex;
}

.blueSquare {
    background-color: #007af3;

    width: 220px;
    height: 450px;

    position: relative;
    top: -70px;
}

.blueSquare img {
    position: relative;
    top: 130px;
    left: 120px;
    width: 180px;
}

.checklist2 {
    width: 400px;

    margin-left: 170px;
    margin-top: -40px;
}

.main .phone {
    width: 380px;
    position: relative;
    left: 120px;
    top: 220px;
    filter: grayscale(100%);
}

/* ------ */

.testimonial {
    height: 800px;
    background-color: #007AF3;
    padding-top: 240px;
}

* {box-sizing:border-box}

.slideshow-container {
    max-width: 1300px;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-around;
}  

.mySlides {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.mySlides img {
    height: 380px;
    align-items: center;
}

.prev, .next { 
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dott {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dott:hover {
    background-color: #717171;  
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}