@charset "utf-8";

* {
    padding: 0px;
    margin: 0px;

}

html {
    height: 100%;
}

body {
    margin: 40px;

    background-color: rgb(26, 26, 26);
}

header {
    height: 120px;

    display: flex;

    border-bottom: 2px solid rgb(46, 45, 45);
    background-color: rgb(58, 58, 58);
}

.headerIcon {
    height: 100%;
    flex: 1;

    border-right: 2px solid rgb(46, 45, 45);
}

.headerIcon img {
    height: 100%;

}

.header {
    height: 100%;
    flex: 4.6;

    display: flex;
    justify-content: flex-end;

    padding-right: 50px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.header input {
    height: 30px;
    width: 200px;
    border: none;
    padding-left: 5px;
}

.header button {
    height: 30px;
    width: 50px;
    border: none;
    border-left: 2px solid darkgray;
}

nav {
    min-height: 40px;
    display: flex;

    background-color: rgb(58, 58, 58);
    border-bottom: 2px solid rgb(46, 45, 45);
}

.navImg {
    height: 100%;
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    border-right: 2px solid rgb(46, 45, 45);
}

.navImg img {

    height: 40px;
}

ul, .menu {
    color: rgb(177, 173, 173);
}

li {
    list-style: none;
    text-align: left;
    margin-left: 15px;
}

a {
    color: rgb(177, 173, 173);
    text-decoration: none;
}

.navImg:hover {
    flex: 5;
    align-items: flex-start;
    margin-left: 10px;
}
.menu {
    opacity: 0;
    height: 0;
}
.list {
    opacity: 0;
    height: 0;

    font-size: 15px;
}
.navImg:hover .menu {
    display: block;

    margin-left: 5px;

    opacity: 1;
    height: auto;
    transition: .5s;
}


.menu:hover .list {
    display: block;

    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;

    height: 15px;
    opacity: 1;
    transition: .5s;
} 



.nav {
    height: 100%;
    flex: 19;
}

.body {
    height: 800px;
    width: 100%;

    background-color: rgb(58, 58, 58);
    border-bottom: 2px solid rgb(46, 45, 45);

    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}



h1 {
    color: rgb(231, 233, 232);

    /* margin-left: 10px; */
    margin-top: 30px;
    padding: 10px;
    padding-top: 20px;

    font-size: 30px;
}

p {
    color: rgb(231, 233, 232);

    /* margin-left: 20px; */
    margin-top: 30px;
    padding: 5px;

    width: 560px;

    font-size: 18px;
}

footer {
    height: 200px;
    width: 100%;

    background-color: rgb(58, 58, 58);
} 