@charset "utf-8";

body {
    background-color: #e34560;
    margin: 0;
    padding: 0;
}

.gridContainer {
    background-color: #45e3c8;
    
    width: 80%;
    min-height: 100vh; 
    
    margin-left: auto;
    margin-right: auto;
    
    box-shadow: 3px 0 10px black, -3px 0 10px black;
    
    display: grid;
    grid-template-areas: 
        "header header header"
        "left mid right"
        "footer footer bottomRight";
    grid-template-rows: 200px minmax(350px, auto) 1fr;
    grid-template-columns: 1fr 3fr 1fr;
}

.grid-Item:nth-child(1) {
    grid-area: header;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65px;
    color: white;
    text-shadow: 1px 1px 0 black;
    font-family: monospace;
    letter-spacing: 12px;
}

.grid-Item:nth-child(2) {
    grid-area: left;
    background-color: darkred;
}

.grid-Item:nth-child(3) {
    grid-area: mid;
    background-color: #806266;
}

.grid-Item:nth-child(4) {
    grid-area: right;
    background-color: #f00c2a;
}

.grid-Item:nth-child(5) {
    grid-area: footer;
    background-color: #292324;
}

.grid-Item:nth-child(6) {
    grid-area: bottomRight;
    background-color: #fa5f74;
}

.grid-portfolio {
    display: grid;
    padding: 5px;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    grid-gap: 5px;
}

.grid-portfolio-item {
    transition: box-shadow .5s;
}

.grid-portfolio-item:hover {
    box-shadow: 2px 2px 0px black;
}

.grid-portfolio-item:nth-child(odd) {
    background-color: silver;
}

.grid-portfolio-item:nth-child(even) {
    background-color: gold;
}