@charset 'utf-8';

html {
    min-height: 100%;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #3C1642;
    
}

.blogg_name {
    margin-top: 10px;
    margin-bottom: 20px;
    
    text-align: center;
    color: #070207;
    
    font-size: 50px;
    text-shadow: 2px -2px 1px #c473d0;
}

article {
    border-radius: 5px;
    
    background-color: #f6e9f8;
    width: 65%;
    
    padding: 5px;
    margin: auto;
}

hr {
    width: 65%;
    margin: auto;
    border: 0;
    height: 5px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), #b756c7, rgba(0,0,0,0));
}

article a {
    text-decoration: none;
}

article a .user {
    color: #ca82d5;
}

article .blogg_post {
    color: #070207;
}

article .text {
    color: #070207;
}

article .date {
    color: #ddaee4;
}