@charset 'utf-8';

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container {
    background-color: #DFDFDF;

    width: 100%;
    height: auto;
}
 
header {
    width: 100%;
    height: 250px;

    background-color: #cfcfcf;

    justify-content: space-around;
    align-items: center;
}

header h1 {
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
    color: #3a3939;
    text-align: right;

    /* background-color: hotpink; */

    flex: 1;
}

.spanLogo {
    color: #060ae6;
}
.mobileIcon, .mobileIconClose {
    display: none;
}

nav {
    /* background-color: gold; */

    flex: 3;
    justify-content: flex-end;
}

nav ul {
    list-style: none;
    /* background-color: lawngreen; */
    justify-content: space-evenly;

    width: 70%;

    color: rgb(0, 0, 0);

    font-size: 22px;
    cursor: pointer;
    text-transform: uppercase;
}

main {
    width: 100%;
    min-height: 1000px;
}

.mainLeft {
    flex: 1;
}

.mainLeft, .mainRight {
    background-color: #49566b;
}

.mainCenter {
    flex: 4;
    background-color: #3d4a5c;
}

/*
 recepie css starts
*/

.recipe {
    margin: 30px;
    font-family: 'Source Sans Pro', sans-serif;

    /* background-color: darkkhaki; */
    /* margin-bottom: 10px; */
}

.recipeHeader {
    font-size: 28px;
    font-weight: 700;
    margin-left: 8px;
    color: rgb(211, 211, 211);
}

.ingredients, .directions {
    margin-left: 30px;
}

.ingredients p, .directions p {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 2px;
    color: rgb(211, 211, 211);
}

.ingredients ul li, .directions ul li {
    list-style: inside;
    font-size: 18px;
    margin-bottom: 2px;
    color: rgb(226, 226, 226);
}

.directions ul li {
    list-style: decimal;
    margin-left: 15px;
}

.source {
    margin: 10px;
    font-family: 'Source Sans Pro', sans-serif;

    /* background-color: darkkhaki; */
}

.source p {
    color: rgb(233, 233, 233);
}

.source a {
    /* text-decoration: none; */
    list-style: none;
    color: rgb(158, 175, 187);
}

/*
 main left fill
*/

.fill {
    margin: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

.fill h1 {
    font-size: 19px;
    font-weight: normal;
    margin-left: 5px;
    margin-top:16px;
}

.fill h1, .fill ul {
    color: rgb(233, 233, 233);
}

.fill ul {
    margin-top: 5px;
    cursor: pointer;
    list-style: none;
}

.fill ul li {
    margin-top: 10px;
    margin-left: 10px;
    /* text-decoration: none; */
}

/* 
-------------------
*/

.mainRight {
    flex: 1;
}

footer {
    width: 100%;
    height: 250px;

    background-color: #3E4043;
}

/* Utility Classes */

.addFlex {
    display: flex;
}

.active {
    font-weight: bold;
}