@charset "utf-8";

* {
    padding: 0px;
    margin: 0px;

    font-family: 'Nunito', sans-serif;
} 
 
html {
    height: 100%;
}

body {
    margin: 40px;

    background-color: rgb(26, 26, 26);
}

header {
    height: 140px;
    display: flex;

    /* border-bottom: 2px solid rgb(46, 45, 45); */
    background-color: rgb(51, 50, 50);
}

.headerIcon {
    height: 100%;
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    /* border-right: 2px solid rgb(46, 45, 45); */
}

.headerIcon img {
    position: absolute;
    height: 120px;
    margin-left: 20px;
    margin-top: -10px;
}

.navContainer {
    flex: 4;
    height: 100%;
    margin-left: 20px;
    /* border-right: 2px solid rgb(46, 45, 45); */
}

.nav {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home, .intro, .examples, .aboutMe {
    font-size: 22px;
    color: rgb(247, 110, 167);
}

.search {
    height: 100%;
    flex: 1.7;

    display: flex;
    justify-content: center;
    align-items: center;
}

.search input {
    height: 30px;
    width: 200px;
    border: none;
    padding-left: 5px;
}

.search button {
    height: 30px;
    width: 50px;
    border: none;
    border-left: 2px solid darkgray;
}

a {
    color: rgb(177, 173, 173);
    text-decoration: none;
}

.body {
    min-height: 500px;
    width: 100%;
    padding-bottom: 50px;

    background-color: rgb(58, 58, 58);
    border-bottom: 2px solid rgb(46, 45, 45);
}

h1, p, h3 {
    color: rgb(231, 233, 232);
}

.example {
    display: flex;
}

.info {
    flex: 1.5;
}

.infoImg1 {
    height: 120px;
    flex: 1;

    margin: 40px;
    margin-top: 225px;
}

.title {
    margin-left: 10px;
    padding: 10px;
    padding-top: 20px;

    font-size: 30px;
}

.subTitle {
    margin-left: 20px;
    padding: 10px;
    padding-top: 20px;

    font-size: 22px;
}

.infoText {
    margin-left: 24px;
    margin-top: 0px;
    padding: 5px;

    font-size: 18px;
}

.continue {
    margin-top: 15px;
}

footer {
    height: 200px;
    width: 100%;

    background-color: rgb(58, 58, 58);
} 

/* 
    subpage intro css
*/

.code {
    flex: 1;
    
    margin-left: 20px;
}

.codeContainer {
    margin-top: 10px;
}

.codeText {
    font-size: 18px;

    margin-left: 40px;
}

.indent {
    font-size: 18px;
    margin-left: 60px;
}

.foot {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
    subpage examples css
*/

.exampleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 40px;
    padding-top: 80px;
    margin-left: 90px;
    margin-right: 90px;
}

.exampleText, .name, .time {
    padding-bottom: 5px;
    padding-top: 5px;
}

.uppdateTime {
    margin-top: 5px;
}



/*
    subpage about me css
*/

.aboutBody {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.aboutTitle {
    color: rgb(231, 233, 232);

    margin-top: 30px;
    padding: 10px;
    padding-top: 20px;

    font-size: 30px;
}

.aboutKorean {
    color: rgb(231, 233, 232);

    margin-top: 30px;
    padding: 5px;

    width: 560px;

    font-size: 20px;
}

.aboutJapanese {
    color: rgb(231, 233, 232);

    margin-top: 20px;
    padding: 5px;

    width: 530px;
    font-size: 20px;
}

.aboutEnglish {
    color: rgb(231, 233, 232);

    margin-top: 20px;
    padding: 5px;
    
    width: 550px;
    font-size: 20px;
}

.contact {
    margin-top: 40px;
    margin-bottom: 30px;
}

.contact p {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 4px;
}