@charset "utf-8";

* {
    padding: 0px;
    margin: 0px;

}

html {
    height: 100%;
}

body {
    margin: 40px;

    /* border: 2px solid black; */
    background-color: rgb(26, 26, 26);
}

header {
    height: 120px;

    display: flex;

    border-bottom: 2px solid rgb(46, 45, 45);
    background-color: rgb(58, 58, 58);
    /* background-color: teal; */
}

.headerIcon {
    height: 100%;
    flex: 1;
    /* width: 150px; */

    border-right: 2px solid rgb(46, 45, 45);
    /* box-shadow: 1px 0px 10px rgb(46, 45, 45); */
    /* background-color: slategray; */
}

.header {
    height: 100%;
    flex: 4.6;
    /* width: ; */

    /* background-color: tomato; */
}

nav {
    min-height: 40px;
    display: flex;

    background-color: rgb(58, 58, 58);
    border-bottom: 2px solid rgb(46, 45, 45);
    /* background-color: violet; */
}

.navImg {
    height: 100%;
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    border-right: 2px solid rgb(46, 45, 45);
    /* background-color: wheat; */
}

.navImg img {

    height: 40px;
}

/* .navImg:hover nav{
    /* height: 100px; */
    /* transition: 0.25s;
    opacity: 1; */
} */

li {
    list-style: none;
    text-align: left;
    margin-left: 10px;

}

.navImg:hover {
    flex: 5;
    align-items: flex-start;
    margin-left: 10px;
}

.navImg:hover .menu {
    display: block;

    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 5px;

    opacity: 1;
    height: 30px;
    transition: .5s;
}

.menu {
    opacity: 0;
    height: 0;
}

.menu:hover .list {
    opacity: 1;
    height: 30px;
} 

.list {
    opacity: 0;
    height: 0;

    font-size: 20px;
}

.nav {
    height: 100%;
    flex: 19;

    
    /* background-color: aquamarine; */
}

.body {
    height: 800px;
    width: 100%;

    background-color: rgb(58, 58, 58);
    border-bottom: 2px solid rgb(46, 45, 45);
    /* background-color: brown; */
}

footer {
    height: 200px;
    width: 100%;

    background-color: rgb(58, 58, 58);
    /* background-color: cadetblue;*/
} 